.Palette{
    height: 100vh;
}

.Palette-colors{
    height: 90%;
}
.Palette-footer {
  background-color: white;
  height: 4vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-weight: bold;
}
.emoji {
  font-size: 1.5rem;
  margin: 0 1rem;
}